<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <style>
        /* Estilos CSS para posicionar el botón en la esquina superior derecha */
        #boton_inicio {
            position: fixed;
            top: 20px;
            right: 20px;
        }
    </style>
</head>
<body>
    <h2>Perfil de Usuario</h2>
    <form method="post" action="{% url 'perfil' %}">
        {% csrf_token %}
        <label for="id_username">Nombre de usuario:</label><br>
        <input type="text" id="id_username" name="username" value="{{ user.username }}"><br><br>
        <button type="button" onclick="mostrarContraseña()">Cambiar Contraseña</button>
        <div id="contraseña" style="display:none;">
            <label for="id_password1">Nueva Contraseña:</label><br>
            <input type="password" id="id_password1" name="password1"><br><br>
            <label for="id_password2">Confirmar Nueva Contraseña:</label><br>
            <input type="password" id="id_password2" name="password2"><br><br>
            <p id="mensaje_error" style="color:red; display:none;">Las contraseñas no coinciden.</p>
        </div>
        <button type="submit">Guardar Cambios</button>
    </form>

    <!-- Botón para regresar a la página de inicio -->
    <a id="boton_inicio" href="{% url 'inicio' %}"><button>Regresar a Inicio</button></a>
    
    <script>
        function mostrarContraseña() {
            var divContraseña = document.getElementById("contraseña");
            if (divContraseña.style.display === "none") {
                divContraseña.style.display = "block";
            } else {
                divContraseña.style.display = "none";
            }
        }

        // Validar si las contraseñas coinciden antes de enviar el formulario
        document.querySelector("form").addEventListener("submit", function(event) {
            var password1 = document.getElementById("id_password1").value;
            var password2 = document.getElementById("id_password2").value;
            if (password1 !== password2) {
                document.getElementById("mensaje_error").style.display = "block";
                event.preventDefault(); // Evitar el envío del formulario
            }
        });
    </script>
</body>
</html>
